/* @font-face {
  font-family: 'denton-regular';
  src: url('/fonts/DentonTest-Regular.otf') format('opentype');
} */
/* @font-face {
  font-family: 'denton-bold';
  src: url('/fonts/DentonTest-Bold.otf') format('opentype');
} */
/* @font-face {
  font-family: 'denton-thin';
  src: url('/fonts/DentonTest-Thin.otf') format('opentype');
} */
@font-face {
  font-family: "myriad-regular";
  src: url("/fonts/Myriad-Pro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "nunito-light-italic";
  src: url("/fonts/Nunito-LightItalic.ttf") format("truetype");
}
/* @font-face {
  font-family: 'nunito-medium-italic';
  src: url('/fonts/Nunito-MediumItalic.ttf') format('truetype');
} */
/* @font-face {
  font-family: 'opensans-bold';
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
} */
@font-face {
  font-family: "opensans-italic";
  src: url("/fonts/OpenSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "opensans-medium";
  src: url("/fonts/OpenSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "opensans-medium-italic";
  src: url("/fonts/OpenSans-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "opensans-regular";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "poppins-medium-italic";
  src: url("/fonts/Poppins-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "beausite-fit-thin";
  src: url("/fonts/BeausiteFitTrial-Thin.otf") format("opentype");
}
@font-face {
  font-family: "beausite-fit-regular";
  src: url("/fonts/BeausiteFitTrial-Regular.otf") format("opentype");
}
@font-face {
  font-family: "beausite-fit-light";
  src: url("/fonts/BeausiteFitTrial-Light.otf") format("opentype");
}
@font-face {
  font-family: "beausite-grand-light";
  src: url("/fonts/BeausiteGrandTrial-Light.otf") format("opentype");
}
@font-face {
  font-family: "beausite-fit-medium";
  src: url("/fonts/BeausiteFitTrial-Medium.otf") format("opentype");
}

@import "tailwindcss";

@theme {
  --font-*: initial;
  /* --font-denton-regular: "denton-regular", "sans-serif";
  --font-denton-bold: "denton-bold", "sans-serif";
  --font-denton-thin: "denton-thin", "sans-serif"; */
  --font-myriad: "myriad-regular", "sans-serif";
  --font-nunito: "nunito-light-italic", "sans-serif";
  --font-bold: "opensans-bold", "sans-serif";
  --font-italic: "opensans-italic", "sans-serif";
  --font-medium: "opensans-medium", "sans-serif";
  --font-medium-italic: "opensans-medium-italic", "sans-serif";
  --font-regular: "opensans-regular", "sans-serif";
  --font-poppins: "poppins-medium-italic", "sans-serif";
  --font-beausite-thin: "beausite-fit-thin", "sans-serif";
  --font-beausite-regular: "beausite-fit-regular", "sans-serif";
  --font-beausite-light: "beausite-fit-light", "sans-serif";
  --font-beausite-grand-light: "beausite-grand-light", "sans-serif";
  --font-beausite-medium: "beausite-fit-medium", "sans-serif";

  --text-*: initial;
  --text-sm: 0.9rem;
  --text-sm--line-height: 1rem;
  --text-base: 1.15rem;
  --text-base--line-height: 1.5rem;
  --text-md: 1.35rem;
  --text-md--line-height: 1.5rem;
  --text-lg: 1.7rem;
  --text-lg--line-height: 2rem;
  --text-xl: 2.5rem;
  --text-xl--line-height: 2.5rem;
  --text-2xl: 3rem;
  --text-2xl--line-height: 3.5rem;
  --text-3xl: 3.5rem;
  --text-3xl--line-height: 4rem;
  --text-5xl: 5rem;
  --text-5xl--line-height: 6rem;
  --text-6xl: 6rem;
  --text-6xl--line-height: 7rem;
  --text-10xl: 10rem;
  --text-10xl--line-height: 9rem;

  --animate-wobble: wobble 3s both infinite;
  --animate-typing-and-blinking: 6s typing 1s steps(30,end) 1 forwards, blinking 0.75s step-end infinite;
}

@plugin "daisyui" {
  
}

@plugin "daisyui/theme" {
  name: "lighttheme";
  default: true;
  prefersdark: false;
  --color-primary: oklch(22.32% 0.0016 17.27);
  --color-secondary: oklch(56.58% 0 0);
  --color-base-content: oklch(22.32% 0.0016 17.27);
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(96.12% 0 0);
  --color-error: oklch(70% 0.191 22.216);

  /* --color-base-300: oklch(91.45% 0.039 17.89); */
  /* --color-primary-content: oklch(38.96% 0.0617 40); */
  /* --color-secondary-content: oklch(56.58% 0 0); */
  /* --color-accent: oklch(93.68% 0.03200956182285715 15.361930351486542); */
  /* --color-accent-content: oklch(27% 0.105 12.094); */
  /* --color-neutral: oklch(80.38% 0.111 15.65); */
  /* --color-neutral-content: oklch(12% 0.042 264.695); */
  /* --color-info: oklch(74% 0.16 232.661); */
  /* --color-info-content: oklch(29% 0.066 243.157); */
  /* --color-success: oklch(62% 0.194 149.214); */
  /* --color-success-content: oklch(98% 0.003 247.858); */
  /* --color-warning: oklch(82% 0.189 84.429); */
  /* --color-warning-content: oklch(27% 0.077 45.635); */
  /* --color-error-content: oklch(98% 0.003 247.858); */
  /* --radius-selector: 0.5rem; */
  /* --radius-field: 0.5rem; */
  /* --radius-box: 0.5rem; */
  /* --size-selector: 0.25rem; */
  /* --size-field: 0.25rem; */
  /* --border: 1px; */
  /* --depth: 1; */
  /* --noise: 0; */

  --my-shadow: 0 0 6px oklch(70% 0.039 39.93);
}

@plugin "daisyui/theme" {
  name: "darktheme";
  default: false;
  prefersdark: true;
  --color-primary: oklch(22.32% 0.0016 17.27);
  --color-secondary: oklch(56.58% 0 0);
  --color-base-content: oklch(22.32% 0.0016 17.27);
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(96.12% 0 0);
  --color-error: oklch(70% 0.191 22.216);

  /* --color-base-300: oklch(91.45% 0.039 17.89); */
  /* --color-primary-content: oklch(38.96% 0.0617 40); */
  /* --color-secondary-content: oklch(56.58% 0 0); */
  /* --color-accent: oklch(93.68% 0.03200956182285715 15.361930351486542); */
  /* --color-accent-content: oklch(27% 0.105 12.094); */
  /* --color-neutral: oklch(80.38% 0.111 15.65); */
  /* --color-neutral-content: oklch(12% 0.042 264.695); */
  /* --color-info: oklch(74% 0.16 232.661); */
  /* --color-info-content: oklch(29% 0.066 243.157); */
  /* --color-success: oklch(62% 0.194 149.214); */
  /* --color-success-content: oklch(98% 0.003 247.858); */
  /* --color-warning: oklch(82% 0.189 84.429); */
  /* --color-warning-content: oklch(27% 0.077 45.635); */
  /* --color-error-content: oklch(98% 0.003 247.858); */
  /* --radius-selector: 0.5rem; */
  /* --radius-field: 0.5rem; */
  /* --radius-box: 0.5rem; */
  /* --size-selector: 0.25rem; */
  /* --size-field: 0.25rem; */
  /* --border: 1px; */
  /* --depth: 1; */
  /* --noise: 0; */

  --my-shadow: 0 0 6px oklch(70% 0.039 39.93);
}

@layer components {
  .box-container {
    @apply max-w-[85%]
      mx-auto
      md:max-w-[85%]
      md:mx-auto
      lg:w-[80%]
      lg:max-w-[1100px]
      lg:mx-auto;
  }

  p {
    @apply py-2;
  }

  .effect-typewritter {
    @apply
    w-0
    overflow-hidden
    border-r-4
    border-primary
    whitespace-nowrap
    animate-typing-and-blinking
    before:content-['\00a0']
    after:content-['\00a0\00a0']
  }
}

@source "../components/";

.box-shadow {
  filter: drop-shadow(0 0 0.25rem #afaead);
}

/* Remove input number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:user-invalid,
textarea:user-invalid {
  border-color: red;
  border-width: 3px;
}

#svg-manuela path {
  fill: transparent;
  stroke: black;
  stroke-width: 0.3px;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: title-letters 3s ease-in-out forwards;
}

.logo-header path {
  fill: transparent;
  stroke: black;
  stroke-width: 2px;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: logo 2s ease-in-out forwards;
}

@keyframes title-letters {
  0% {
    stroke-width: 0.3px;
    stroke-dashoffset: 150;
  }
  80% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 0;
    fill: black;
  }
}

@keyframes logo {
  0% {
    stroke-width: 2px;
    stroke-dashoffset: 1500;
  }
  80% {
    stroke-dashoffset: 750;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 750;
    stroke-width: 2px;
    fill: black;
  }
}

@keyframes wobble {
  0%, 50% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  7% {
    transform: translateX(-7px) rotate(-3deg);
  }
  15% {
    transform: translateX(3px) rotate(3deg);
  }
  22% {
    transform: translateX(-3px) rotate(-1.8deg);
  }
  30% {
    transform: translateX(2px) rotate(1.2deg);
  }
  38% {
    transform: translateX(-1px) rotate(-0.6deg);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}