---
// import { Image } from "astro:assets";
// import { getRelativeLocaleUrl } from "astro:i18n";

// import imgEnglish from "@/assets/english.png";
// import imgSpanish from "@/assets/spanish.webp";

import menu from "@/data/menu.json";
---


<!-- BEGIN DESKTOP MENU -->
<nav class="w-full hidden md:block">
  <ul class="flex justify-center flex-row p-0 menu-desktop">
  {
    menu.map(({name, href, target}, key) => {
      return (
        <li class="">
          <a href={href} class="~md/xl:~text-sizeBase/sizeLg ~md/xl:~px-3/6" target={target}>
            <div class="pl-4 pr-4 pb-2 pt-10 hover:bg-secondary/30 transition-colors duration-500 lg:pl-5 lg:pr-5">{name}</div>
          </a>
        </li>
      )
    })
  }
  </ul>
</nav>
<!-- END DESKTOP MENU -->