---
const { classNameDiv = "gap-x-6", classNameItems = "h-8" } = Astro.props;

import Facebook from "@assets/fb.svg";
import Instagram from "@assets/ig.svg";
import LinkedIn from "@assets/linkedin.svg";
---

<div class=`flex flex-row justify-center ${classNameDiv}`>
  <a href="https://www.facebook.com/ana.m.tamayo.31" target="_blank"><Facebook class={classNameItems} /></a>
  <a href="https://www.instagram.com/anatamayo.art/" target="_blank"><Instagram class={classNameItems} /></a>
  <a href="https://www.linkedin.com/in/ana-tamayo-art-6a68aa1a9/" target="_blank"><LinkedIn class={classNameItems} /></a>
</div>
