---

---

<!-- BEGIN SECTION ABOUT ME -->
<section class="pb-12 lg:pb-28" id="about">
  <div class="flex flex-col gap-y-4 lg:flex-row">
    <div
      class="aspect-[350/310] bg-[url(/img/about-us.webp)] bg-center bg-no-repeat bg-cover md:aspect-[350/200] lg:aspect-auto lg:basis-1/2 lg:[background:no-repeat_center_linear-gradient(90deg,_rgba(0,0,0,0)_0%,_rgba(0,0,0,0)_60%,_rgba(255,255,255,1)_90%,_rgba(255,255,255,1)_100%),_no-repeat_center/cover_url(/img/about-us.webp)]"
    >
    </div>
    <div class="box-container lg:basis-1/2 lg:py-8 lg:pr-12 xl:pr-32">
      <p>
        In her work Ana continuously questions herself about the representation
        of nature as a window to a tropical universe, full of sensations, some
        ﬁgurative others conceptual. Within this process, design and composition
        play a paramount function that emerges spontaneously.
      </p>
      <p>
        She studies emotional well-being through cathartic experiences and
        meditation. The connections between subjects that represent fauna and
        ﬂora, for her are trips to femininity.
      </p>
      <p>
        Ana uses diﬀerent materials and techniques that give her the possibility
        to visualize recurrent themes such as water, birds, leaves, plants,
        ﬂowers, especially orchids as Colombian symbols and of awareness.
      </p>
      <p>
        Ana's art is like a bridge, that goes from her identity as a Colombian,
        by remembering the essence, of how unlimited nature is in her strokes
        and deep colors. Her works are an extension of her being (mind, body,
        spirit) as a consequence of a disciplined creative process, curiosity of
        spirit, and dedication to research, which have proven to be deﬁnitive in
        her work as a visual artist.
      </p>
      <p>
        The colors in her paintings transform into shapes that ﬂow like dynamic
        curves and undulating lines with the eﬀort to represent her
        interpretation of nature in constant movement.
      </p>
      <p>
        Ana has works in private collections in the United States, in foreign
        countries, and in public spaces. She has exhibited internationally at
        Liberty Equities exhibitions at the International Plaza Buildings, at
        The Boca Raton Museum of Art, The Art School, Women in the Visual Arts
        13th Annual Open in Boca Raton, The Gaudí Gallery in Madrid and at The
        Pop up Art Exhibition on Serrano St. in Madrid. She has also
        participated in the Lyon Art Fair in France, as well as in the Fair of
        Lucca in Italy. Ana currently has a body of work in the law ﬁrm oﬃces of
        Nelson Mullins inside Lynn Financial Center in Boca Raton. She lives and
        works in Miami.
      </p>
      <p>
        A percentage of the value of her sales is donated to the Imagina
        Children's Foundation in León de Guanajuato, MX.
      </p>
    </div>
  </div>
</section>
<!-- END SECTION ABOUT ME -->
