---
import Divider from "@components/widgets/Divider.astro";
import Social from "@components/widgets/Social.astro";

import Logo from '@assets/logo.svg';
import Button from "@components/widgets/Button.astro";
// import AnaTamayo from '@assets/anatamayo.svg';
// import Manuela from '@assets/manuela.svg';
---


<section id="contact" class="bg-[url(/img/bg-contact.webp)] bg-center bg-cover py-8">
  <Divider />

  <div class="box-container py-16 mt-4 bg-base-100/80 rounded-4xl flex flex-col-reverse items-center md:flex-row md:py-8">
    <div class="mt-12 w-full basis-1 md:basis-5/12 md:mt-0">
      <Logo class="w-20 mx-auto md:w-28" />
      <div class="mt-4 font-beausite-thin py-4 text-center text-md/5">
        I will contact you as<br/>
        soon as possible
      </div>
      <div class="font-beausite-medium text-lg text-center mt-4">Ana Tamayo</div>
      <address class="text-center my-4 not-italic font-poppins">
        <a href="tel:+15613054777" class="block">+1 (561) 305-4777</a>
        <a href="mailto:ana@anatamayo.com" class="block">ana@anatamayo.com</a>
      </address>
      <Social classNameDiv="gap-x-6" classNameItems="h-8" />
    </div>
    <div class="basis-1 w-[80%] md:basis-7/12 md:px-8">
      <form>
        <div>
          <label for="name" class="font-beausite-light text-lg block">Name</label>
          <input type="text" name="name" id="name" class="w-full border-primary border-[1px] focus:outline-2 " required aria-required="true" aria-label="required" />
        </div>
        <div class="mt-6">
          <label for="email" class="font-beausite-light text-lg block">Email</label>
          <input type="email" name="email" id="email" class="w-full border-primary border-[1px] focus:outline-2" required aria-required="true" aria-label="required" />
        </div>
        <div class="mt-6">
          <label for="message" class="font-beausite-light text-lg block">Message</label>
          <textarea name="message" id="message" class="w-full border-primary border-[1px] h-32 focus:outline-2" required= aria-required="true" aria-label="required"></textarea>
        </div>
        <Button text="Send" href="#!" position="left" />
      </form>
    </div>
  </div>
</section>