---
import Button from "@components/widgets/Button.astro";

import { Image } from "astro:assets";

import imgExhibition01 from "@assets/exhibition-01.png";
import imgExhibition02 from "@assets/exhibition-02.png";
import imgExhibition03 from "@assets/exhibition-03.png";
---

<section id="exhibitions" class="pt-12 pb-24 bg-base-200 lg:pt-16">
  <h1
    class="font-denton-thin text-center text-xl tracking-widest lg:text-3xl 2xl:text-5xl"
  >
    EXHIBITIONS <span class="font-denton-bold">...</span>
  </h1>

  <div class="box-container mt-12 flex flex-col gap-y-12 md:flex-row">
    <!-- BEGIN EXHIBITION -->
    <div class="basis-1 md:basis-1/2 lg:basis-1/3">
      <div class="block md:px-4">
        <Image src={imgExhibition01} alt="" class="aspect-[302/453] w-full" />
      </div>
      <div class="md:px-4">
        <Button text="see more" href="" position="center" />
      </div>
      <div class="text-secondary text-center md:px-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        pretium sed magna.
      </div>
    </div>
    <!-- END EXHIBITION -->
    <!-- BEGIN EXHIBITION -->
    <div class="basis-1 hidden md:basis-1/2 md:block lg:basis-1/3">
      <div class="block px-4">
        <Image src={imgExhibition02} alt="" class="aspect-[302/453] w-full" />
      </div>
      <div class="md:px-4">
        <Button text="see more" href="" position="center" />
      </div>
      <div class="text-secondary text-center md:px-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        pretium sed magna.
      </div>
    </div>
    <!-- END EXHIBITION -->
    <!-- BEGIN EXHIBITION -->
    <div class="basis-1 hidden lg:block lg:basis-1/3">
      <div class="block px-4">
        <Image src={imgExhibition03} alt="" class="aspect-[302/453] w-full" />
      </div>
      <div>
        <Button text="see more" href="" position="center" />
      </div>
      <div class="text-secondary text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        pretium sed magna.
      </div>
    </div>
    <!-- END EXHIBITION -->
  </div>
</section>
