---
import AnaTamayo from '@assets/anatamayo.svg';
import Manuela from '@assets/manuela.svg';
---

<!-- BEGIN FOOTER -->
<AnaTamayo class="mt-6 h-12 mx-auto lg:h-16 xl:h-20" />

<p class="font-bold text-center md:hidden">©2025 Ana Tamayo<br/>All Rights Reserved</p>
<p class="font-bold text-center hidden md:block xl:text-md">©2025 Ana Tamayo | All Rights Reserved</p>

<p class="font-bold text-center text-sm md:hidden">
  Desarrollada por:<br/>
  <Manuela class="h-8 mx-auto" />
</p>
<div class="font-italic text-sm hidden justify-center items-center gap-x-2 md:flex md:flex-row xl:text-base">
  <div>Desarrollada por:</div>
  <div><Manuela class="h-8 mx-auto" /></div>
</div>
<!-- END FOOTER -->