---
import Divider from "@components/widgets/Divider.astro";
import Social from "@components/widgets/Social.astro";

import AnaTamayo from "@assets/anatamayo.svg";
import Manuela from "@assets/manuela.svg";
---

<!-- BEGIN FOOTER -->
<footer class="max-w-[1500px] mx-auto font-beausite-regular text-center pb-8 md:pb-12">
  <AnaTamayo class="mt-6 h-12 mx-auto lg:h-16 xl:h-20" />

  <Divider className="py-4" />

  <div
    class="flex flex-col gap-y-4 md:flex-row md:justify-around md:items-center"
  >
    <div class="md:basis-1/3">
      <p class="lg:hidden">©2025 Ana Tamayo<br />All Rights Reserved</p>
      <p class="hidden lg:block xl:text-md">
        ©2025 Ana Tamayo | All Rights Reserved
      </p>
    </div>
    <div class="text-md md:basis-1/3">
      <a href="#!"> Subscribe to newsletter </a>
    </div>
    <div class="flex flex-col text-md md:flex-row md:items-center md:justify-center md:basis-1/3">
      <p class="md:pr-4">Follow us</p>
      <Social classNameDiv="gap-x-3" classNameItems="h-5" />
    </div>
    <div class="md:hidden">
      <div class="font-italic mt-8 mb-4 text-center">
        <a
          href="#!"
          class="border-2 border-primary inline-block rounded-full px-6 py-2 hover:bg-base-100"
          >Credits for design</a
        >
      </div>
    </div>
  </div>

  <div class="hidden font-italic text-center md:block lg:mt-8">
    <a
      href="#!"
      class="border-2 border-primary inline-block rounded-full px-6 py-2 hover:bg-base-100"
      >Credits for design</a
    >
  </div>
</footer>
<!-- END FOOTER -->
