---
import Divider from "@components/widgets/Divider.astro";

import Arts from '@components/sections/Arts'

import { Image } from "astro:assets";

import imgArt01 from "@assets/art-01.png";
import imgArt02 from "@assets/art-02.png";
import imgArt03 from "@assets/art-03.png";
import imgArt04 from "@assets/art-04.png";
import { Picture } from "astro:assets";
---

<!-- BEGIN SECTION GALLERY -->
<Divider id="gallery" className="py-4" />

<section class="py-12">
  <div class="flex flex-row">
    <div class="basis-4/12 md:basis-1/2">&nbsp;</div>
    <h1
      class="basis-8/12 bg-primary font-beausite-grand-light text-white text-xl pl-8 py-2 md:basis-1/2 xl:text-2xl"
    >
      Gallery
    </h1>
  </div>

  <div
    class="box-container mt-8 flex flex-col flex-wrap justify-center gap-y-12 md:mt-16 md:flex-row"
  >
    <Arts client:idle />
  </div>
</section>

<Divider id="gallery" />
<!-- END SECTION GALLERY -->
