---
import Divider from "@components/widgets/Divider.astro";

import Galleries from '@/components/sections/Galleries'
---

<!-- BEGIN SECTION GALLERY -->
<Divider id="gallery" className="py-4" />

<section class="py-12">
  <div class="flex flex-row">
    <div class="basis-4/12 md:basis-1/2">&nbsp;</div>
    <h1
      class="basis-8/12 bg-primary font-beausite-grand-light text-white text-xl pl-8 py-2 md:basis-1/2 xl:text-2xl"
    >
      Gallery
    </h1>
  </div>

  <div
    class="box-container min-h-80 mt-8 flex flex-col flex-wrap justify-center gap-y-12 md:mt-16 md:flex-row"
  >
    <Galleries client:idle />
  </div>
</section>

<Divider id="gallery" />
<!-- END SECTION GALLERY -->
