---
import MenuMobile from "@components/widgets/MenuMobile.astro";
import MenuDesktop from "@components/widgets/MenuDesktop.astro";

import Logo from '@assets/logo.svg';
import ArrowDown from '@assets/down-arrow.svg';
---

<header>
  <div class="font-denton-regular">
    <div class="md:hidden">
      <MenuMobile />
    </div>
    <div class="hidden float-right w-full lg:w-[80%] xl:w-[70%] md:block">
      <MenuDesktop />
    </div>
  </div>

  <div class="pt-24 box-container after:content-[''] after:table after:clear-both md:pt-40">
    <div class="w-full h-6">
      <div class="w-[40%] float-left border-t-[1px] border-primary">&nbsp;</div>
    </div>
    <div class="w-[95%] mx-auto float-end flex flex-row justify-evenly py-8 xl:py-24">
      <div>
        <h1 class="font-nunito tracking-[0.25rem] xl:text-xl">ARTIST</h1>
        <h1 class="font-denton-thin text-2xl tracking-[0.35rem] md:text-5xl lg:text-6xl xl:text-10xl">ANA</h1>
        <h1 class="font-denton-bold text-2xl tracking-[0.35rem] md:text-5xl lg:text-6xl xl:text-10xl">TAMAYO</h1>
      </div>
      <div>
        <Logo class="w-20 aspect-[10/14] md:w-32 lg:w-36 xl:w-52">
      </div>
    </div>
    <div class="w-full h-4">
      <div class="w-[40%] float-right border-b-[1px] border-primary">&nbsp;</div>
    </div>
  </div>

  <div class="w-8 block mx-auto mt-8 md:w-12 lg:w-16 lg:mt-16">
    <a href="#about"><ArrowDown class="w-full" /></a>
  </div>
</header>
