---
import MainLayout from "@/layouts/MainLayout.astro";

import Menu from "@components/sections/Menu";
import GalleryDetail from "@components/sections/GalleryDetail";
---

<MainLayout>

	<header class="pb-8 md:pb-16 md:min-h-32">
		<Menu client:only />
	</header>

	<main class="mt-16 mb-24 md:mt-24 xl:mt-36 lg:mb-24">
		<GalleryDetail client:only />
	</main>

</MainLayout>
